# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environment
# Change "venv" to the name of your virtual environment folder if it is different.
venv/
.venv/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# Translations
*.mo
*.pot

# Django and other frameworks
*.log
local_settings.py
db.sqlite3
migrations/ # generally migrations should be versioned, but excluded in some specific cases

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/

# Secrets
.env

# Files Ignored by dev
backend/data/
backend/output/
Sentra Knowledge Base/
test-documents/
products/ai-narrative/data
products/ai-narrative/frontend/node_modules
products/ai-narrative/backend/data